<div class="login-page">
    <mat-card class="login-card mat-elevation-z20">

        <img width="200" class="login-logo" alt="myBudget Logo" src="assets/save.svg"/>
        <div class="login-label">
            <h2>Log in</h2>
        </div>

        <mat-card-content class="card-content">
            <form class="login-form" [formGroup]="loginForm" novalidate>

                <!-- USERNAME -->
                <mat-form-field color="primary" class="login-form-field">
                    <input matInput type="text" placeholder="username" formControlName="username">
                    <mat-icon matPrefix class="icon">account_circle</mat-icon>
                    <mat-error *ngIf="loginForm.get('username')?.invalid">
                        Username required
                    </mat-error>
                </mat-form-field>

                <!-- PASSWORD -->
                <mat-form-field color="primary" class="login-form-field">
                    <input matInput type="password" placeholder="password" formControlName="password">
                    <mat-icon matPrefix class="icon">lock</mat-icon>
                    <mat-error *ngIf="loginForm.get('password')?.invalid">
                        Password required
                    </mat-error>
                </mat-form-field>

                <mat-card-actions class="card-actions">
                    <mat-error *ngIf="loginError" class="login-error">
                        Username or password wrong
                    </mat-error>

                    <!-- ACTION BUTTONS -->
                    <div class="action-button" fxLayout="row" fxLayoutAlign="center center">

                        <!-- REGISTER NEW USER -->
                        <button type="button" mat-raised-button color="accent" class="btn signin-button" (click)="onRegister()" [disabled]="submitting">
                            Register
                        </button>

                        <!-- CLASSIC LOGIN -->
                        <button type="submit" mat-raised-button color="primary" (click)="signInWithEmail(loginForm)" [disabled]="loginForm.pristine || loginForm.invalid || submitting" class="btn signin-button">
                            <span *ngIf="!submitting">Log In</span>
                            <mat-spinner *ngIf="submitting" diameter="20" class="spinner"></mat-spinner>
                        </button>
                    </div>
                </mat-card-actions>

                <!-- SEPARATOR CLASSIC LOGIN FROM SOCIAL LOGIN -->
                <div class="separator">
                    <span class="separator-text">OR</span>
                </div>

                <!-- SOCIAL LOGIN BOX -->
                <div class="social-login">

                    <!-- GOOGLE LOGIN -->
                    <div class="google-container">
                        <button mat-raised-button (click)="signInWithGoogle()" class="google-button" [disabled]="submitting">
                            Sign in with Google
                        </button>
                    </div>

                    <!-- FACEBOOK LOGIN -->
                    <div class="facebook-container">
                        <button mat-raised-button (click)="signInWithFB()" class="facebook-button" [disabled]="submitting">
                            Sign in with Facebook
                        </button>
                    </div>
                </div>

            </form>

        </mat-card-content>
    </mat-card>
</div>
